<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.persistence.BikeMapper">

	<select id="getList" parameterType="bike" resultType="bike">
		/* getList
		*/
		select
			id,
			br_name,
			br_classification,
			name_address,
			number_address,
			lat,
			lon,
			start_time,
			end_time,
			closed_day,
			fee,
			utilization_fee,
			holding_number,
			bikehold_number,
			bike_pump,
			bike_pump_type,
			bike_repairer,
			agency_phone_number,
			agency_name,
			data_date,
			organization_code,
			organization_name,
			geom
		from bike_rental 
		limit 20
		<if test="organizationName != null and organizationName !=''">
        	where organization_name = #{organizationName}
        </if>
	</select>

</mapper>
